# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\user\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\user\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\user\anaconda3\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipython>=5.3.0 in c:\users\user\anaconda3\lib\site-packages (from gmaps) (7.16.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\user\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\user\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\user\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (4.4.2)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: pygments in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\user\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: jupyter-core in c:\users\user\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\user\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-client in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\user\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: notebook>=4.4.1 in c:\users\user\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\user\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: attrs>=17.4.0 in c:\users\user\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\user\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: pyzmq>=13 in c:\users\user\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\user\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: prometheus-client in c:\users\user\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: nbconvert in c:\users\user\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: terminado>=0.8.1 in c:\users\user\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: Send2Trash in c:\users\user\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: testpath in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: defusedxml in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: bleach in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\user\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
city_data_df = pd.read_csv('clean_city_data.csv')
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,jamestown,42.0970,-79.2353,19.99,73,90,6.91,US,1612072032
1,1,rikitea,-23.1203,-134.9692,79.38,74,39,9.57,PF,1612072032
2,2,kavieng,-2.5744,150.7967,83.57,73,99,11.90,PG,1612072032
3,3,khatanga,71.9667,102.5000,-47.76,78,43,1.52,RU,1612072033
4,4,kabanjahe,3.1001,98.4908,82.40,89,75,5.75,ID,1612072033

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
gmaps.configure(api_key = g_key)

In [31]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] <80) \
                                    & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
83,83,tema,5.6670,-0.0166,78.80,94,0,6.91,GH,1612072054
132,132,lahan,26.7296,86.4951,70.36,30,0,5.73,NP,1612071905
151,151,bikaner,28.0167,73.3000,75.43,15,0,7.61,IN,1612071964
166,166,pokaran,26.9167,71.9167,76.37,14,0,7.92,IN,1612072074
183,183,along,28.1667,94.7667,72.75,28,0,1.19,IN,1612072078
191,191,victoria,22.2855,114.1577,73.40,40,0,9.22,HK,1612072049
317,317,pochutla,15.7432,-96.4661,73.00,86,0,1.01,MX,1612072112
331,331,puerto escondido,15.8500,-97.0667,75.90,64,0,4.07,MX,1612072032
364,364,jati,24.3539,68.2671,77.47,31,0,6.60,PK,1612072123
424,424,calamar,10.2511,-74.9146,77.00,83,0,4.61,CO,1612072137
490,490,mangaratiba,-22.9597,-44.0406,75.20,88,0,5.75,BR,1612072152
560,560,takhatpur,22.1500,81.8667,75.63,17,0,6.02,IN,1612072170

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng",]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country      Lat       Lng Hotel Name
83               tema      GH   5.6670   -0.0166
132             lahan      NP  26.7296   86.4951
151           bikaner      IN  28.0167   73.3000
166           pokaran      IN  26.9167   71.9167
183             along      IN  28.1667   94.7667
191          victoria      HK  22.2855  114.1577
317          pochutla      MX  15.7432  -96.4661
331  puerto escondido      MX  15.8500  -97.0667
364              jati      PK  24.3539   68.2671
424           calamar      CO  10.2511  -74.9146
490       mangaratiba      BR -22.9597  -44.0406
560         takhatpur      IN  22.1500   81.8667

In [42]:
params = {
        "radius": 5000,
        "types": "lodging",
        "key": g_key}

for i, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(url, params=params)
    name_address = name_address.json()
    if i == 8:
        pprint(name_address)
    try:
        hotel_df.loc[i, "Hotel Name"] = name_address ["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing Field... skipping to next")
hotel_df

Missing Field... skipping to next

,City,Country,Lat,Lng,Hotel Name
83,tema,GH,5.6670,-0.0166,Beulah Royale
132,lahan,NP,26.7296,86.4951,Hotel Durbar Pvt. Ltd.
151,bikaner,IN,28.0167,73.3000,The Laxmi Niwas Palace
166,pokaran,IN,26.9167,71.9167,Motel Pokaran - RTDC
183,along,IN,28.1667,94.7667,Hotel West
191,victoria,HK,22.2855,114.1577,Mini Hotel Central
317,pochutla,MX,15.7432,-96.4661,Hotel Posada San Jose
331,puerto escondido,MX,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
364,jati,PK,24.3539,68.2671,
424,calamar,CO,10.2511,-74.9146,Hostal Katyalex
490,mangaratiba,BR,-22.9597,-44.0406,Portobello Resort & Safari
560,takhatpur,IN,22.1500,81.8667,School nigarband

In [43]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))